{% extends 'base.html.twig' %}

{% block title %}Show produit{% endblock %}


{% block body %}

	<div class="container my-5">
		
		<div class="text-center" data-aos="fade-up"
     				data-aos-easing="linear"
     				data-aos-duration="1000">
		    <h2 class="">{{ produit.name }}</h2>
			<div class="" >
				<img src="/images/{{produit.image}}" class="w-75 rounded" >
				<p>{{produit.description}}</p>
            </div>	
            <a href="{{ path ("home")}}" class="btn btn-info btn-sm">رجوع</a>			
		</div>
	</div>

{% endblock %}